.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 60%, 60%;
    border-radius: 50%;
}

.details-page-product-price {
    display: flex;
    align-items: center;
}

.details-page-old-price {
    text-decoration:line-through;
    color: grey;
    margin-right: 5px;
}

.details-page-product-color-container button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 3px;
    border: none;
    background-color: darkcyan;
}

.details-page-product-size-section {
    margin: 20px 0;
}

.details-page-product-size-container button {
    border-radius: 5%;
    width: 60px;
    height: 40px;
    margin: 5px;
    border: none;
    background-color: rgb(209, 210, 210);
}

.details-page-product-size-container button:hover {
    background-color: rgb(118, 118, 118);
}

.details-page-product-size-container button:focus {
    background-color: rgb(94, 239, 198);
}

.details-page-panel-body {
    margin: 30px 0;
}


.product-purchase-section {
    display: flex;
}

.form-group {
    width: 150px;
    margin-right: 30px;
}

.has-icons {
    position: relative;
}

.details-page-quantity-input {
    height: 60px;
}

.details-page-quantity-input::-webkit-inner-spin-button,
.details-page-quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* .quantity-input {
    -moz-appearance: textfield;
} */

.btn-minus {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-minus:hover {
    color: red;
}

.btn-plus {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.btn-plus:hover {
    color: rgb(8, 149, 22);
}

.mobile-purchase-section {
    background-color: darkred;
    color: white;
    font-size: 23px;
    margin: auto;
    padding: 15px 15px;
    max-width: 320px;
    display: block;
    text-align: center;
    justify-content: center;
}

.add-to-favorite {
    margin: 10px 0 0 10px;
    display: inline-block;
    cursor: pointer;
}

.add-to-favorite:hover {
    color: rgb(153, 130, 3);
}

.product-info-section {
    padding: 20px 10px;
}

.product-info-section hr {
    height: 2px;
    border: none;
    margin: 3px 0;
}

.product-info-header {
    font-size: 24px;
}

.product-info-content {
    margin-top: 15px;
}

@media screen and (max-width: 1400px) {
    .left {
        transform: translateY(-100%);
    }
    
    .right {
        transform: translateY(-100%);
    }
  }

@media screen and (max-width: 1200px) {
    .mobile-purchase-section {
        background-color: darkred;
        color: white;
        font-size: 18px;
        margin: auto;
        padding: 15px 15px;
        max-width: 300px;
        display: block;
        text-align: center;
        justify-content: center;
    }

    .left {
        transform: translateY(-75%);
    }
    
    .right {
        transform: translateY(-75%);
    }
  }

@media screen and (max-width: 970px) {
    .mobile-purchase-section {
        background-color: darkred;
        color: white;
        font-size: 18px;
        margin: auto;
        padding: 15px 15px;
        width: 400px;
        display: block;
        text-align: center;
        justify-content: center;
    }
  }

  @media screen and (max-width: 870px) {
    .mobile-purchase-section {
        background-color: darkred;
        color: white;
        font-size: 14px;
        margin: auto;
        padding: 15px 15px;
        width: 500px;
        display: block;
        text-align: center;
        justify-content: center;
    }

    .left {
        transform: translateY(-55%);
    }
    
    .right {
        transform: translateY(-55%);
    }
  }