.breadcrumb-item a {
    text-decoration: none;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-label {
    font-size: 20px;
    margin-left: 10px;
}

.panel {
    margin: 20px 0;
}

.panel-title {
    margin-left: 20px;
    padding-top: 10px;
}

.panel-body {
    margin: 10px 0 0 20px;
    padding: 10px;
    background-color: rgb(239, 237, 237);
}


.list-unstyled li {
    margin: 10px 20px;
    font-size: 20px;
}

.list-unstyled li a {
    text-decoration: none;
    color: black;
}

.list-unstyled li a:hover {
    color: rgb(245, 161, 161);
}

.filter-title {
    margin: 5px 0 10px 10px;
}

.form-check {
    margin-left: 20px;
}

/*////////////////////////////////////////////////    right side catalog*/

.catalog-header {
    /* position: relative; */
    height: 200px;
}

.page-title {
    margin-top: 20px;
}

.sorting-container {
    height: min-content;
    width: 100%;
    position: relative;
}


.list-sorting {
    float: right;
}

.form-group {
    display: flex;
    width: 280px;
    justify-content: space-between;
}
