/* .form-container {
    width: 60%;
    background-color: blue;
} */

.product-form {
    margin: 20px auto;
}

.product-form-header {
    font-size: 32px;
    margin-bottom: 20px;
}

.check-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.check-genre {
    width: 300px;
}

.check-category {
    width: 300px;
}

.form-btn {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    padding: 5px 20px;
    color: white;
    transition: all, .2s ease-in-out;
}

.form-submit-btn {
    background-color: green;
    margin-right: 10px;
}

.form-submit-btn:hover {
    background-color: rgb(3, 54, 3);
}

.form-cancel-btn:hover {
    background-color: darkred;
}

.form-cancel-btn {
    background-color: red;
}